html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}



#board-wrapper {
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.board {
    display: grid;
    grid: repeat(10, 1fr) / repeat(10, 1fr);
    max-width: 550px;
    margin: 0 auto;

}

.cell {
    border: 1px solid black;
    padding: 16px;
}

.cell:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.board-id {
    text-align: center;

}

.main-title {
    display: flex;
    align-items: center;
    margin: 14px 150px;
    justify-content: space-between;
}

.inactive {
    display: none;
}

.color-info-wrapper {
    margin-top: 1.7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4.2rem;
}

.color-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
}


.color-block {
    height: 1em;
    width: 1em;
    border: 1px solid black;
}

#restart-btn {
    position: fixed;
    left: 50%;
    padding: .8rem;
    font-size: 32px;
    font-weight: 800;
    margin-top: 8px;
}

