/* Box sizing rules */


*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 0.938rem;
    background-color: rgba(129, 182, 227, 1);
}

.game-container {
    height: 100%;
    display: flex;
    gap: 4em;
    justify-content: center;
    align-items: center;
}

.board-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.board-title {
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 2px;
    
}

.gameboard-grid {
    display: grid;
    grid: repeat(10, 1fr) / repeat(10,1fr);
}

.gameboard-grid .cell {
    padding: 10px;
    border: 1px solid black;
}


.gameboard-grid .cell {
    padding: 20px;
    border: 1px solid black;
}

.gameboard-grid .cell:hover {
    cursor: pointer;
    background-color: blue;
}

.player-board .cell,
.cpu-board .hit,
.cpu-board .miss {
    pointer-events: none;
}

.hit {
    background-color:green !important;
}
.miss {
    background-color: red !important;
}